body{
  background-color: rgb(228, 99, 120);
}

.container{
  margin: 0 auto;
}

.title{
  text-align: center;
}

#result{
  color:#86B858;
  font-size: 4em;
}

.Myinput{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2em;
  color: #86B858;
}

::placeholder{
  color: #86B858;
}

input{
  background-color: transparent;
  text-align: center;
  color: #86B858;
  font-size: 1.5em;
  height: 4em;
  border: none;
  outline: none;
}
.btn1{
  text-align: center;
}

#btn{
color: #86B858;
font-size: 1.5em;
}

@media (max-width: 768px){
  .Myinput{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #result{
    font-size: 2em;
  }

  .Myinput{
    font-size: 1em;
  }

  input{
    font-size: 2em
  }

  #btn{
    font-size: 0.75em;
  }
  .container{
    margin: 0 auto;
  }
}